In [1]:
import pandas as pd

In [7]:
path_to_file="E:\JIgsaw\Python\Gunnvant\PythonForModellers-master\PythonForModellers-master/Data/dm.csv"

In [8]:
data=pd.read_csv(path_to_file)

In [9]:
type(data)

pandas.core.frame.DataFrame

In [10]:
print(data)

        Age  Gender OwnHome  Married Location  Salary  Children History  \
0       Old  Female     Own   Single      Far   47500         0    High
1    Middle    Male    Rent   Single    Close   63600         0    High
2     Young  Female    Rent   Single    Close   13500         0     Low
3    Middle    Male     Own  Married    Close   85600         1    High
4    Middle  Female     Own   Single    Close   68400         0    High
5     Young    Male     Own  Married    Close   30400         0     Low
6    Middle  Female    Rent   Single    Close   48100         0  Medium
7    Middle    Male     Own   Single    Close   68400         0    High
8    Middle  Female     Own  Married    Close   51900         3     Low
9       Old    Male     Own  Married      Far   80700         0     NaN
10    Young    Male    Rent  Married    Close   43700         1     NaN
11   Middle    Male     Own  Married      Far  111800         3    High
12   Middle  Female     Own  Married    Close   44100         1  Medium
13   Middle    Male     Own  Married    Close  111400         0    High
14      Old  Female     Own  Married      Far  110000         0    High
15   Middle  Female     Own  Married      Far   83100         1     NaN
16      Old  Female     Own  Married    Close   82800         0    High
17   Middle    Male     Own  Married    Close   90100         0    High
18   Middle    Male    Rent   Single    Close   38600         1     Low
19      Old  Female    Rent   Single      Far   14000         0     Low
20    Young  Female    Rent   Single      Far   14300         2     Low
21    Young    Male    Rent  Married    Close   49800         0  Medium
22      Old  Female    Rent  Married      Far   60200         0    High
23    Young    Male    Rent  Married      Far   43500         1  Medium
24    Young  Female    Rent  Married    Close   41700         1     NaN
25   Middle  Female     Own  Married    Close   92300         3     Low
26   Middle    Male     Own   Single    Close   62800         3     NaN
27   Middle  Female    Rent  Married      Far   72900         0    High
28   Middle  Female    Rent  Married    Close   66900         2  Medium
29    Young    Male    Rent   Single    Close   21700         1     NaN
..      ...     ...     ...      ...      ...     ...       ...     ...
970   Young  Female    Rent   Single    Close   25300         3     NaN
971     Old  Female     Own  Married    Close   43600         0  Medium
972  Middle    Male     Own  Married    Close   83600         2  Medium
973  Middle  Female     Own   Single      Far   56200         0    High
974   Young    Male    Rent  Married    Close   45500         0  Medium
975  Middle    Male     Own  Married    Close   99300         1    High
976  Middle    Male     Own  Married      Far  108000         3    High
977  Middle  Female     Own  Married      Far   84900         1    High
978  Middle    Male     Own  Married      Far   93000         3    High
979  Middle  Female     Own  Married    Close   82000         0    High
980     Old  Female     Own   Single    Close   33000         3     NaN
981  Middle  Female     Own   Single    Close   36900         2     Low
982  Middle  Female    Rent   Single    Close   33200         1     NaN
983   Young    Male    Rent  Married    Close   49300         0     NaN
984     Old    Male    Rent  Married      Far   66200         0    High
985  Middle    Male     Own  Married      Far   96800         2    High
986     Old    Male     Own   Single    Close   63200         0    High
987     Old    Male     Own  Married      Far  112900         0    High
988  Middle  Female    Rent   Single    Close   32100         2     Low
989  Middle    Male     Own  Married      Far  102700         1    High
990  Middle    Male     Own  Married    Close  123800         2     NaN
991     Old  Female    Rent   Single      Far   11700         0     Low
992  Middle    Male     Own  Married    Close  101700         1     NaN
993  Middle  Female     Own  Married      Far   99200         0    High
994   Young    Male    Rent   Single    Close   17600         0     NaN
995   Young  Female    Rent   Single    Close   19400         1     NaN
996  Middle    Male    Rent   Single      Far   40500         1     NaN
997     Old    Male     Own   Single    Close   44800         0  Medium
998  Middle    Male     Own  Married    Close   79000         2  Medium
999   Young    Male    Rent  Married    Close   53600         1  Medium

     Catalogs  AmountSpent  Cust_Id
0           6          755      247
1           6         1318      127
2          18          296      479
3          18         2436      475
4          12         1304      151
5           6          495      320
6          12          782      804
7          18         1155      790
8           6          158       43
9          18         3034      475
10         12          927      157
11         18         2065     1239
12         24          704      562
13         12         2136     1259
14         24         5564      477
15         12         2766      808
16         24         3010      160
17         18         1956       78
18         18          542      666
19         12          410     1250
20          6          194     1154
21         12          827      683
22         18         2328     1221
23         12          808      949
24          6          521      661
25         18          655     1136
26          6          707      973
27         18         2075     1240
28         12          769     1128
29         18          774      602
..        ...          ...      ...
970         6          510      942
971        12         1047      716
972         6          538      361
973        18         1546      575
974         6          754     1255
975        12         1504     1277
976        24         1849      603
977        24         3072       58
978         6         1046      523
979        18         1800      789
980         6          700      134
981        24          514      683
982         6          320     1077
983        24         1692      588
984        24         2057      799
985        18         2299      246
986        24         1507      331
987        24         6217      975
988        24          405     1052
989        18         3785     1269
990        18         3537      898
991        18          540      962
992         6          941     1283
993        24         5503      924
994         6          273      817
995        18          384      190
996        18         1073      510
997        24         1417      725
998        18          671     1034
999        24          973     1203

[1000 rows x 11 columns]

In [12]:
data.tail()

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs,AmountSpent,Cust_Id
995,Young,Female,Rent,Single,Close,19400,1,NaN,18,384,190
996,Middle,Male,Rent,Single,Far,40500,1,NaN,18,1073,510
997,Old,Male,Own,Single,Close,44800,0,Medium,24,1417,725
998,Middle,Male,Own,Married,Close,79000,2,Medium,18,671,1034
999,Young,Male,Rent,Married,Close,53600,1,Medium,24,973,1203

In [21]:
#data[list of column names that I want]
#data.iloc[list of rows I want]
data[['OwnHome','Age']].iloc[[5,1]]

  OwnHome     Age
5     Own   Young
1    Rent  Middle

In [23]:
type(data['Age'])

pandas.core.series.Series

In [28]:
data.head(10)

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs,AmountSpent,Cust_Id
0,Old,Female,Own,Single,Far,47500,0,High,6,755,247
1,Middle,Male,Rent,Single,Close,63600,0,High,6,1318,127
2,Young,Female,Rent,Single,Close,13500,0,Low,18,296,479
3,Middle,Male,Own,Married,Close,85600,1,High,18,2436,475
4,Middle,Female,Own,Single,Close,68400,0,High,12,1304,151
5,Young,Male,Own,Married,Close,30400,0,Low,6,495,320
6,Middle,Female,Rent,Single,Close,48100,0,Medium,12,782,804
7,Middle,Male,Own,Single,Close,68400,0,High,18,1155,790
8,Middle,Female,Own,Married,Close,51900,3,Low,6,158,43
9,Old,Male,Own,Married,Far,80700,0,NaN,18,3034,475

In [30]:
data['Salary'].astype('float').iloc[[0,1,2,3,4]]

0    47500.0
1    63600.0
2    13500.0
3    85600.0
4    68400.0
Name: Salary, dtype: float64

In [31]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
data['Salary'].iloc[[0,5]]

0    47500
5    30400
Name: Salary, dtype: int64

In [38]:
#data.rename(columns={'Old Name': 'New Name'})
data.rename(columns={'Location': 'Loc'})

#Overwrite the old dataframe
data=data.rename(columns={'Location': 'Loc'})

In [39]:
data=data.rename(columns={'Location': 'Loc'})

In [40]:
data.head()

,Age,Gender,OwnHome,Married,Loc,Salary,Children,History,Catalogs,AmountSpent,Cust_Id
0,Old,Female,Own,Single,Far,47500,0,High,6,755,247
1,Middle,Male,Rent,Single,Close,63600,0,High,6,1318,127
2,Young,Female,Rent,Single,Close,13500,0,Low,18,296,479
3,Middle,Male,Own,Married,Close,85600,1,High,18,2436,475
4,Middle,Female,Own,Single,Close,68400,0,High,12,1304,151

In [41]:
path_to_file="E:\JIgsaw\Python\Gunnvant\PythonForModellers-master\PythonForModellers-master/Data/decatthlon.txt"

In [42]:
data1=pd.read(path_to_file)

AttributeError: module 'pandas' has no attribute 'read'

In [43]:
import os
os.chdir('E:\JIgsaw\Python\Gunnvant\PythonForModellers-master\PythonForModellers-master/Data')

In [44]:
f=open('decatthlon.txt','r')

In [45]:
print(f)

<_io.TextIOWrapper name='decatthlon.txt' mode='r' encoding='cp1252'>

In [46]:
f0=f.read()

In [47]:
print(f0)

Whitefield, Bengaluru-560048,ITPB Main Road,Mahadevpura
Decathlon Anubhava,Bellary Road, Bengaluru - 562157,Survey No-78/10, A2 Chikajala Village, Bellary Road
Sarjapur,Bengaluru - 560035,Survey 96/1, Sarjapur Road
Old Madras Road,K R Puram, Bengaluru - 560049,Survey No. 39/3, Bandapura Village, Bidahalli Hobli
Mysore Road, Bengaluru - 560074,2.5 Km after Nice Road Junction,Next to KAVCON Factory, Bengaluru - 560074, Karnataka.
Bannerghatta, Bengaluru - 560076,Raj Alkaa Park, Joseph garden,Kalena Agrahara village, Bannerghatta road, Begur hobli, Bengaluru - 560076, Karnataka.
Hosur Road, Bengaluru - 560099,#242, Bommasandra Industrial Area,Next to D Mart and Indian Oil Petrol Pump Hosur Road, Bengaluru - 560099, Karnataka.
Next to Applewoods Township, Near Shantipura crossroads, Sardar Patel Ring Road , Ahmedabad - 380058, Gujarat.
GT Bypass road Next Khanna Paper Mill , Amritsar - 143001, Punjab.
Prozone Mall,Ground Floor,P-80,MIDC,Chikalthana, Aurangabad - 431001, Maharashtra.
Opp Kabir Farms, Gotri-Sevasi Road, Baroda - 391101, Gujarat.
Dag Nos. 363, 367 and 368, NH5, Beside Aditya Motors, Bandhchadda, alias Kacharamala, PO Phulnakhara, District Cuttack, Bhubaneswar - 754001, Odisha.
Survey No.835/1C, NH-4, Bangalore Highway, Mevalurkuppam B, Near EVP World Amusement Park, Chennai - 600056, Tamil Nadu.
Survey No:458 & 459, Next to Mantri Synergy, Hindustan University, Padur Village, Chengelpet Thaluk, Kancheepuram District, Old Mahabalipuram Road, , Chennai - 603103, Tamil Nadu.
500 mtrs from Le Meridien, GS NO 716/2B & 717/2B ,Neelambur, Coimbatore - 641062, Tamil Nadu.
Indirapuram Habitat Centre - IHC,Victory Habitat Centre,Ahinsa Khand 1, , Indirapuram,Ghaziabad, Uttar Pradesh 201014, Ghaziabad - 201014, Uttar Pradesh.
Omaxe Celebration Mall, Subhash Chowk, , Sohna Road, Sector 48, Gurgaon - 122103, Haryana.
Dakhin Rani, Vill-Kahikuchi Azara Circle, Assam Dag No. 656, Patta No. 140, Near Rani Gate, Guwahati - 781017, Assam.
Gokul Road, Manjunath Nagar, Near Big Bazaar, Hubli - 580030, Karnataka.
Opposite to spark hospital , uppal, Hyderabad - 500039, Telangana.
Rajiv Gandhi international airport, Shamshabad, Hyderabad - 500409, Andhra Pradesh.
Survey No. 48/2, Madapu Estate, Beside Sarojini Gardens,, Pet-Basheerbad, Quthbullapur Mandal, Rr Dist, Hyderabad - 500067, Telangana.
Khasra No. 199, Khasra No. 198/2/4 and Khasra no. 197/1/2, Village Nipania, Opposite to Water Lily hotel and Delhi Public School, Indore - 452010, Madhya Pradesh.
NH Bypass, NH47, Thykoodam, Near Orma Marbles, Kochi - 682019, Kerala.
Junction ICT (International Container Terminal) Road,NH 47, Beside SCMS College, Kochi - 683104, Kerala.
P S Uluberia, District Howrah, Kolkata - 711307, West Bengal.
Jalandhar Bye Pass,Vill Teh. & Distt. Ludhiana, Bhattian, Ludhiana - 141007, Punjab.
147/2B1, Melur main road,Narasingam bit 4, High Court Road Near to Reliance market, Ulaganeri, Madurai - 625107,Tamil Nadu, 300 Mts from Reliance Market towards Melur, Madurai - 625107, Tamil Nadu.
North Country Mall: NH-21, Kharar-Mohali Road, Sector 117 - Sahibzada Ajit Singh Nagar - Mohali, Mohali - 140307, Punjab.
Siddartha Layout, Bannur Road, Mysore - 570011, Karnataka.
Mumbai - Nashik Expressway, Vilholi, Taluka & District, Nashik - 422010, Maharashtra.
MetroWalk Mall, Next to Rithala Metro Station, Rohini, Delhi. 110085, New Delhi - 110085, Delhi.
Building AV 105, First Floor, A-2, Sector 38, Entertainment City, Great India Place, Noida - 201301, Uttar Pradesh.
Survey No. 1333/4,Next to Soyarik Garden, Bhadale Nagar, Pune Nagar road, Wagholi, Tal Haveli, Pune - 412207, Maharashtra.
Vidhan Sabha Road, (Near Ambuja City Centre), Opp to SBI, Raipur - 492014, Chattisgarh.
Decathlon Thane, Big Shopping Center, Ghodbunder Road, Kasarvadawali Gaon, Thane - 400615, Maharashtra.
Survey No. 518,517/4 , NH Bypass Road , Thalore, Thrissur - 680306, Kerala.
Chandigarh- Ambala Road (NH 22), Singh Pura, Zirakhpur Municipal Council , Zirakpur - 140603, Punjab.

In [44]:
path_to_file="E:\JIgsaw\Python\Gunnvant\PythonForModellers-master\PythonForModellers-master/Data/MMwoes.csv"

In [45]:
data=pd.read_csv(path_to_file,skiprows=1)

In [50]:
type(data)

pandas.core.frame.DataFrame

In [63]:
print(data)

         id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0     54734      80364      25000        25000     19419.940000   36 months
1     55742     114426       7000         7000      6549.400000   36 months
2     57245     138150       1200         1200      1200.000000   36 months
3     57416     139635      10800        10800     10637.650000   36 months
4     58524     149512       7200         7200      1800.000000   36 months
5     58915     153417       7500         5025      4912.740000   36 months
6     59006     154254       3000         3000      3000.000000   36 months
7     61390     182594       4000         4000      3900.000000   36 months
8     61419     182917       5600         5600      5525.000000   36 months
9     62102     191024       3200         3200      3200.000000   36 months
10    65426     232106       4000         4000      4000.000000   36 months
11    65640     234569       5000         2650      2650.000000   36 months
12    66431     243540       2525         2525      2375.000000   36 months
13    66749     246329      10625        10625      5329.662025   36 months
14    66943     247802       2800         2800      2700.000000   60 months
15    66964     247990       7500         7500      7500.000000   36 months
16    67503     252415      10000        10000     10000.000000   36 months
17    68163     258249       3000         3000      3000.000000   36 months
18    68381     260179       6625         6625      6475.000000   36 months
19    68817     264119      10000        10000      9775.000000   36 months
20    68926     264924       2300         2300      2300.000000   36 months
21    69001     265533      15000        15000     14900.000000   36 months
22    69124     266619      18000        18000     17800.000000   36 months
23    69168     266943       5000         5000      4975.000000   36 months
24    69251     267771       6000         6000      6000.000000   36 months
25    69550     270212      11200        11200     11195.143760   60 months
26    69828     272798      15000        15000     14775.000000   36 months
27    69924     274280      10000        10000     10000.000000   36 months
28    69990     275254      15500        15500     15308.280000   36 months
29    70348     280311       9600         9600      9325.000000   36 months
..      ...        ...        ...          ...              ...         ...
218  169044     153468      18500        18500       156.700000   36 months
219  169254     168673      17000        17000       500.000000   36 months
220  169354     169334       5400         5400       375.000000   36 months
221  169453     157525      18500        18500       750.000000   36 months
222  169525     142952       9000         9000       350.510000   36 months
223  169793     164864      16000        16000       619.388066   36 months
224  170488     165737       5000         5000       475.000000   36 months
225  170528     165069      12000        12000       656.690000   36 months
226  170929     170462       9000         9000      1125.000000   36 months
227  171220     170849      20000        20000       310.979002   36 months
228  171298     171282       7000         7000      1000.000000   36 months
229  172644     172641      12000        12000       156.680000   36 months
230  172802     171004       5000         5000       775.000000   36 months
231  173029     173017       9600         9600      1150.001660   36 months
232  173981     173944       3200         3200       525.000000   36 months
233  174377     174280       4800         4800      1650.000000   36 months
234  175056     174986      20000        20000       275.000000   36 months
235  175147     175123       2400         2400      1945.270000   36 months
236  175193     173899       7500         7500      1000.000000   36 months
237  175582     174945      10000        10000       625.000000   36 months
238  176062     176043       2800         2800       849.998290   36 months
239  176206     176187       3000         3000       750.000000   36 months
240  176610     152731       2975         2975       821.090000   36 months
241  176942     176612      16500        16500      1225.000000   36 months
242  176995     176989      25000        25000       675.006307   36 months
243  177075     177072      15000        15000      2799.130000   36 months
244  177259     154006      17950        17950       425.000000   36 months
245  177913     171100      15000         7000       350.000000   36 months
246  178157     177995      14400        14400       474.994746   36 months
247  178236     178070      12000        12000      2350.000000   36 months

        apr int_rate  installment grade         ...         total_pymnt_inv  \
0    13.62%   11.89%       829.10     B         ...                23345.15
1    11.40%   10.71%       228.22     B         ...                 7758.80
2    16.22%   13.11%        40.50     C         ...                 1457.31
3    16.17%   13.57%       366.86     C         ...                13009.30
4    22.81%   19.05%       264.11     D         ...                  526.16
5    10.77%   10.08%       162.34     B         ...                 5730.59
6    16.88%   14.26%       102.92     C         ...                 3703.38
7     9.39%    7.88%       125.13     A         ...                 4339.90
8    18.11%   14.96%       194.02     D         ...                 6345.65
9    12.52%    9.88%       103.08     B         ...                 3413.92
10   13.36%   11.14%       131.22     B         ...                 2755.20
11   12.37%   11.34%        87.19     C         ...                 3153.73
12   13.94%   12.21%        84.12     B         ...                 2847.61
13   15.56%   13.47%       360.43     C         ...                 6109.99
14   13.41%   11.49%        61.57     B         ...                 3028.60
15   14.63%   13.24%       253.58     D         ...                 9128.45
16    9.44%    8.59%       316.11     A         ...                11280.04
17    9.64%    7.14%        92.82     A         ...                 3341.09
18    9.14%    8.63%       209.54     A         ...                 7370.77
19   12.06%   11.03%       327.53     C         ...                11443.70
20   14.91%   13.17%        77.69     D         ...                 2796.56
21    9.79%    8.94%       476.58     A         ...                17016.44
22   11.08%   10.39%       584.12     B         ...                20792.41
23   16.54%   15.13%       173.65     E         ...                 6217.39
24    8.51%    8.00%       188.02     A         ...                 6783.62
25   17.45%   15.33%       268.40     D         ...                 9061.76
26    9.14%    8.63%       474.42     A         ...                16949.45
27   14.95%   13.55%       339.60     D         ...                12221.47
28    9.39%    7.88%       484.85     A         ...                17230.27
29   13.33%   12.29%       320.19     C         ...                11016.07
..      ...      ...          ...   ...         ...                     ...
218  11.94%   10.91%       604.88     C         ...                  176.68
219   9.38%    8.70%       538.23     B         ...                  554.95
220  10.01%    9.33%       172.55     B         ...                  410.34
221  11.94%   10.91%       604.88     C         ...                  830.08
222  10.65%    9.96%       290.24     B         ...                  407.93
223  13.24%   11.86%       530.36     D         ...                  360.83
224   9.38%    8.70%       158.31     B         ...                  539.76
225  11.62%   10.59%       390.54     C         ...                  760.19
226  13.88%   12.49%       301.04     D         ...                 1254.99
227  12.58%   11.54%       659.91     C         ...                  326.06
228   7.94%    7.43%       217.52     A         ...                 1118.17
229  11.31%   10.28%       388.79     C         ...                  181.43
230   9.38%    8.70%       158.31     B         ...                  883.23
231  13.55%   12.17%       319.64     D         ...                  994.18
232  11.31%   10.28%       103.68     C         ...                  607.15
233  10.32%    9.64%       154.08     B         ...                 1883.72
234  11.62%   10.59%       650.90     C         ...                  317.06
235  15.15%   13.75%        81.74     E         ...                 2380.45
236   9.69%    9.01%       238.54     B         ...                 1144.70
237  14.19%   12.80%       335.98     D         ...                  752.86
238  13.55%   12.17%        93.23     D         ...                  282.50
239  10.01%    9.33%        95.87     B         ...                  862.28
240  10.65%    9.96%        95.94     B         ...                  935.01
241  14.19%   12.80%       554.37     D         ...                 1452.58
242  15.78%   14.38%       859.07     E         ...                  341.75
243   8.89%    8.38%       472.68     A         ...                 3112.56
244  11.94%   10.91%       586.90     C         ...                  467.76
245  10.32%    9.64%       224.69     B         ...                  396.46
246  14.19%   12.80%       483.81     D         ...                  160.57
247  13.55%   12.17%       399.55     D         ...                 2779.43

    total_rec_prncp total_rec_int total_rec_late_fee  last_pymnt_d  \
0          25000.00       4324.32           0.000000    14-10-2011
1           7000.00       1215.45           0.000000    02-06-2011
2           1200.00        257.31           0.000000    29-03-2013
3          10800.01       2395.26           0.000000    23-11-2012
4           1265.98        844.82           0.000000    25-04-2013
5           5024.99        818.81           0.000000    28-04-2011
6           3000.00        703.38           0.000000    04-10-2012
7           4000.00        451.17           0.000000    21-03-2012
8           5220.69       1211.07           0.000000    09-10-2012
9           3200.00        213.92           0.000000    10-02-2011
10          2170.35        584.85           0.000000    13-06-2011
11          2650.00        488.74          14.996559    25-05-2011
12          2525.00        502.47           0.000000    16-03-2012
13         10625.00       2348.29           0.000000    04-01-2012
14          2800.00        340.84           0.000000    18-10-2011
15          7500.01       1628.44           0.000000    23-06-2011
16         10000.00       1280.04           0.000000    07-02-2012
17          3000.00        341.09           0.000000    25-02-2013
18          6625.00        916.53           0.000000    01-03-2011
19         10000.00       1707.07           0.000000    28-09-2010
20          2300.00        496.56           0.000000    01-09-2011
21         15000.00       2130.65           0.000000    05-07-2012
22         18000.00       3026.01           0.000000    01-04-2011
23          5000.00       1248.59           0.000000    20-04-2011
24          5999.99        768.63          14.996809    12-05-2011
25          5262.95       3808.25           0.000000    03-04-2013
26         15000.00       2112.75          94.805060    08-08-2011
27         10000.00       2221.47           0.000000    11-04-2011
28         15500.00       1936.05           0.000000    01-02-2013
29          9600.00       1740.97           0.000000    03-05-2010
..              ...           ...                ...           ...
218        18499.99       3275.42          30.238000    03-01-2011
219        17000.00       1867.70           0.000000    18-08-2009
220         5400.00        494.49           0.000000    13-02-2009
221        18500.00       1979.70           0.000000    18-02-2009
222         9000.00       1448.57          29.995865    18-01-2011
223         5558.08       1865.00           0.000000    18-02-2009
224         5000.00        681.85           0.000000    19-07-2010
225        12000.00       2059.07           0.000000    17-12-2010
226         9000.00       1042.31           0.000000    16-01-2009
227         4882.92       2283.17          32.995066    18-03-2009
228         7000.00        830.06           0.000000    17-12-2010
229        12000.00       1995.87           0.000000    21-12-2010
230         5000.00        698.69           0.000000    21-12-2010
231         6335.33       1829.62           0.000000    20-04-2010
232         3200.00        501.16           0.000000    21-04-2010
233         4800.00        680.38           0.000000    22-02-2010
234        20000.00       3067.08           0.000000    22-01-2010
235         2400.00        542.10           0.000000    23-12-2010
236         7500.00       1086.78           0.000000    23-12-2010
237        10000.00       2059.05           0.000000    23-08-2010
238          678.15        253.35           0.000000    23-10-2008
239         3000.00        450.31           0.000000    24-12-2010
240         2975.00        478.48           0.000000    23-12-2010
241        16500.00       3075.80           0.000000    24-03-2010
242         8471.54       3553.14           0.000000    23-02-2009
243        15000.00       2015.31           0.000000    24-12-2010
244        17950.00       1810.63           0.000000    23-01-2009
245         7000.00        930.77           0.000000    25-11-2009
246         2812.13       2024.47           0.000000    28-10-2009
247        12000.00       2173.16          19.977500    25-02-2010

     last_pymnt_amnt next_pymnt_d last_credit_pull_d last_fico_range_high  \
0            7392.08          NaN         28-08-2012                  789
1             228.48          NaN         06-08-2012                  679
2              42.73          NaN         25-03-2013                  709
3             398.00          NaN         21-12-2012                  674
4             264.11   21-05-2013         22-04-2013                  649
5             162.63          NaN         16-05-2011                  774
6             111.23          NaN         26-09-2012                  694
7            1454.31          NaN         18-03-2012                  744
8             194.02          NaN         25-03-2013                  499
9            2592.23          NaN         25-03-2013                  689
10            131.22          NaN         08-10-2011                  524
11             87.83          NaN         08-12-2009                  499
12             89.75          NaN         18-03-2012                  689
13            370.44          NaN         27-12-2011                  719
14           2348.97          NaN         07-03-2013                  654
15            253.87          NaN         17-06-2011                  504
16           3064.45          NaN         30-12-2012                  734
17             97.75          NaN         01-02-2013                  769
18            424.12          NaN         16-06-2011                  714
19             23.15          NaN         07-09-2010                  719
20             77.78          NaN         22-04-2013                  689
21           1919.13          NaN         23-07-2012                  754
22            598.22          NaN         18-03-2012                  589
23            184.81          NaN         22-04-2013                  684
24            189.36          NaN         05-05-2011                  514
25            268.40   28-05-2013         22-04-2013                  659
26             38.20          NaN         08-08-2011                  639
27            359.55          NaN         22-04-2013                  764
28            472.56          NaN         01-02-2013                  759
29           3773.06          NaN         22-04-2013                  719
..               ...          ...                ...                  ...
218           636.34          NaN         06-12-2010                  614
219          8642.19          NaN         22-04-2013                  594
220          3654.23          NaN         12-02-2009                  669
221         12618.00          NaN         11-04-2013                  669
222             1.46          NaN         07-01-2011                  564
223           530.36          NaN         06-11-2009                  499
224           933.83          NaN         06-07-2010                  699
225           393.41          NaN         22-04-2013                  784
226          6432.48          NaN         21-12-2012                  559
227           200.01          NaN         06-10-2009                  499
228           225.50          NaN         06-12-2010                  784
229           391.12          NaN         08-11-2011                  719
230           159.37          NaN         02-04-2013                  699
231           416.62          NaN         07-09-2010                  499
232           902.55          NaN         22-04-2013                  699
233          1631.54          NaN         08-02-2010                  709
234          7446.74          NaN         22-10-2012                  714
235            85.43          NaN         12-04-2011                  674
236           242.56          NaN         06-12-2010                  714
237          1649.16          NaN         22-04-2013                  689
238            93.23          NaN         08-06-2009                  499
239           100.22          NaN         24-05-2011                  664
240            98.46          NaN         06-12-2010                  739
241          1950.71          NaN         05-04-2010                  774
242           859.07          NaN         08-12-2009                  499
243           482.31          NaN         22-04-2013                  734
244         12719.24          NaN         05-01-2009                  764
245          2988.95          NaN         06-11-2009                  754
246            50.03          NaN         08-02-2010                  594
247          4185.78          NaN         20-11-2010                  684

    last_fico_range_low
0                   785
1                   675
2                   705
3                   670
4                   645
5                   770
6                   690
7                   740
8                     0
9                   685
10                  520
11                    0
12                  685
13                  715
14                  650
15                  500
16                  730
17                  765
18                  710
19                  715
20                  685
21                  750
22                  585
23                  680
24                  510
25                  655
26                  635
27                  760
28                  755
29                  715
..                  ...
218                 610
219                 590
220                 665
221                 665
222                 560
223                   0
224                 695
225                 780
226                 555
227                   0
228                 780
229                 715
230                 695
231                   0
232                 695
233                 705
234                 710
235                 670
236                 710
237                 685
238                   0
239                 660
240                 735
241                 770
242                   0
243                 730
244                 760
245                 750
246                 590
247                 680

[248 rows x 69 columns]

In [64]:
data.dtypes

id                                  int64
member_id                           int64
loan_amnt                           int64
funded_amnt                         int64
funded_amnt_inv                   float64
term                               object
apr                                object
int_rate                           object
installment                       float64
grade                              object
sub_grade                          object
emp_name                           object
emp_length                         object
home_ownership                     object
annual_inc                          int64
is_inc_v                             bool
accept_d                           object
exp_d                              object
list_d                             object
issue_d                            object
loan_status                        object
pymnt_plan                         object
url                                object
desc                               object
purpose                            object
title                              object
addr_city                          object
addr_state                         object
acc_now_delinq                      int64
acc_open_past_24mths              float64
                                   ...
inq_last_6mths                      int64
mths_since_last_delinq            float64
mths_since_last_record            float64
mths_since_recent_inq             float64
mths_since_recent_loan_delinq     float64
mths_since_recent_revol_delinq    float64
mths_since_recent_bc              float64
mort_acc                          float64
open_acc                            int64
pub_rec_gt_100                    float64
pub_rec                             int64
total_bal_ex_mort                 float64
revol_bal                           int64
revol_util                         object
total_bc_limit                    float64
total_acc                           int64
initial_list_status                object
out_prncp                         float64
out_prncp_inv                     float64
total_pymnt                       float64
total_pymnt_inv                   float64
total_rec_prncp                   float64
total_rec_int                     float64
total_rec_late_fee                float64
last_pymnt_d                       object
last_pymnt_amnt                   float64
next_pymnt_d                       object
last_credit_pull_d                 object
last_fico_range_high                int64
last_fico_range_low                 int64
Length: 69, dtype: object

In [65]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,apr,int_rate,installment,grade,...,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low
0,54734,80364,25000,25000,19419.94,36 months,13.62%,11.89%,829.10,B,...,23345.15,25000.00,4324.32,0.0,14-10-2011,7392.08,NaN,28-08-2012,789,785
1,55742,114426,7000,7000,6549.40,36 months,11.40%,10.71%,228.22,B,...,7758.80,7000.00,1215.45,0.0,02-06-2011,228.48,NaN,06-08-2012,679,675
2,57245,138150,1200,1200,1200.00,36 months,16.22%,13.11%,40.50,C,...,1457.31,1200.00,257.31,0.0,29-03-2013,42.73,NaN,25-03-2013,709,705
3,57416,139635,10800,10800,10637.65,36 months,16.17%,13.57%,366.86,C,...,13009.30,10800.01,2395.26,0.0,23-11-2012,398.00,NaN,21-12-2012,674,670
4,58524,149512,7200,7200,1800.00,36 months,22.81%,19.05%,264.11,D,...,526.16,1265.98,844.82,0.0,25-04-2013,264.11,21-05-2013,22-04-2013,649,645

In [67]:
data=data.rename(columns={'int_rate': 'interest_rate'})
OR
data.rename(columns={'int_rate': 'interest_rate'})

In [68]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,apr,interest_rate,installment,grade,...,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low
0,54734,80364,25000,25000,19419.94,36 months,13.62%,11.89%,829.10,B,...,23345.15,25000.00,4324.32,0.0,14-10-2011,7392.08,NaN,28-08-2012,789,785
1,55742,114426,7000,7000,6549.40,36 months,11.40%,10.71%,228.22,B,...,7758.80,7000.00,1215.45,0.0,02-06-2011,228.48,NaN,06-08-2012,679,675
2,57245,138150,1200,1200,1200.00,36 months,16.22%,13.11%,40.50,C,...,1457.31,1200.00,257.31,0.0,29-03-2013,42.73,NaN,25-03-2013,709,705
3,57416,139635,10800,10800,10637.65,36 months,16.17%,13.57%,366.86,C,...,13009.30,10800.01,2395.26,0.0,23-11-2012,398.00,NaN,21-12-2012,674,670
4,58524,149512,7200,7200,1800.00,36 months,22.81%,19.05%,264.11,D,...,526.16,1265.98,844.82,0.0,25-04-2013,264.11,21-05-2013,22-04-2013,649,645

In [5]:
import pandas as pd

In [6]:
DATA_DIR="E:\JIgsaw\Python\Gunnvant\PythonForModellers-master\PythonForModellers-master\Data"

In [9]:
#### Data Manipulation
## Store.csv
store1=pd.read_csv("E:\JIgsaw\Python\Gunnvant\PythonForModellers-master\PythonForModellers-master\Data\Store.csv",encoding='latin1')

In [11]:
store1.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [12]:
store1['Segment'].unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [13]:
##I want to find out the nmber of transactions corresponding to Consumer Segment
sub1=store1[store1['Segment']=='Consumer']

In [83]:
sub1.shape

(5191, 21)

In [84]:
sub1.shape[0]

5191

In [85]:
sub2=store[(store['Segment']=='Consumer')|(store['Segment']=='Corporate')]
or
store.query("Segment==Consumer or Segment==Corporate")

In [86]:
sub2.shape

(8211, 21)

In [88]:
sub2.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2011-110422,1/22/2011,1/24/2011,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2014-119914,5/5/2014,5/10/2014,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [14]:
store1.query[(Segment=="Consumer" or Segment=="Corporate")]

NameError: name 'Segment' is not defined

In [15]:
store1.sort_values(by='Profit',ascending=False)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
6826,6827,CA-2013-118689,10/3/2013,10/10/2013,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Lafayette,...,47905,Central,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.950,5,0.0,8399.9760
8153,8154,CA-2014-140151,3/24/2014,3/26/2014,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,...,98115,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808
4190,4191,CA-2014-166709,11/18/2014,11/23/2014,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,...,19711,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970,3,0.0,5039.9856
9039,9040,CA-2013-117121,12/18/2013,12/22/2013,Standard Class,AB-10105,Adrian Barton,Consumer,United States,Detroit,...,48205,Central,OFF-BI-10000545,Office Supplies,Binders,GBC Ibimaster 500 Manual ProClick Binding System,9892.740,13,0.0,4946.3700
4098,4099,CA-2011-116904,9/23/2011,9/28/2011,Standard Class,SC-20095,Sanjit Chand,Consumer,United States,Minneapolis,...,55407,Central,OFF-BI-10001120,Office Supplies,Binders,Ibico EPK-21 Electric Binding System,9449.950,5,0.0,4630.4755
2623,2624,CA-2014-127180,10/23/2014,10/25/2014,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,...,10024,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4,0.2,3919.9888
509,510,CA-2012-145352,3/16/2012,3/22/2012,Standard Class,CM-12385,Christopher Martinez,Consumer,United States,Atlanta,...,30318,South,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,6354.950,5,0.0,3177.4750
8488,8489,CA-2013-158841,2/2/2013,2/4/2013,Second Class,SE-20110,Sanjit Engle,Consumer,United States,Arlington,...,22204,South,TEC-MA-10001127,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,8749.950,5,0.0,2799.9840
7666,7667,US-2013-140158,10/5/2013,10/9/2013,Standard Class,DR-12940,Daniel Raglin,Home Office,United States,Providence,...,2908,East,TEC-CO-10001449,Technology,Copiers,Hewlett Packard LaserJet 3310 Copier,5399.910,9,0.0,2591.9568
6520,6521,CA-2014-138289,1/17/2014,1/19/2014,Second Class,AR-10540,Andy Reiter,Consumer,United States,Jackson,...,49201,Central,OFF-BI-10004995,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,5443.960,4,0.0,2504.2216
1085,1086,US-2013-143819,3/2/2013,3/6/2013,Standard Class,KD-16270,Karen Daniels,Consumer,United States,Yonkers,...,10701,East,TEC-MA-10003979,Technology,Machines,Ativa V4110MDD Micro-Cut Shredder,4899.930,7,0.0,2400.9657
4277,4278,US-2013-107440,4/17/2013,4/21/2013,Standard Class,BS-11365,Bill Shonely,Corporate,United States,Lakewood,...,8701,East,TEC-MA-10001047,Technology,Machines,"3D Systems Cube Printer, 2nd Generation, Magenta",9099.930,7,0.0,2365.9818
8990,8991,US-2012-128587,12/24/2012,12/30/2012,Standard Class,HM-14860,Harry Marie,Corporate,United States,Springfield,...,65807,Central,TEC-CO-10003763,Technology,Copiers,Canon PC1060 Personal Laser Copier,4899.930,7,0.0,2302.9671
6626,6627,CA-2011-145541,12/14/2011,12/21/2011,Standard Class,TB-21400,Tom Boeckenhauer,Consumer,United States,New York City,...,10024,East,TEC-MA-10001127,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,6999.960,4,0.0,2239.9872
8204,8205,CA-2012-114811,11/8/2012,11/8/2012,Same Day,KD-16495,Keith Dawkins,Corporate,United States,New York City,...,10024,East,TEC-MA-10000045,Technology,Machines,Zebra ZM400 Thermal Label Printer,4643.800,4,0.0,2229.0240
318,319,CA-2011-164973,11/4/2011,11/9/2011,Standard Class,NM-18445,Nathan Mautz,Home Office,United States,New York City,...,10024,East,TEC-MA-10002927,Technology,Machines,Canon imageCLASS MF7460 Monochrome Digital Las...,3991.980,2,0.0,1995.9900
7683,7684,CA-2012-120782,4/28/2012,5/1/2012,First Class,SD-20485,Shirley Daniels,Home Office,United States,Midland,...,48640,Central,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,3812.970,3,0.0,1906.4850
8858,8859,CA-2014-135909,10/14/2014,10/21/2014,Standard Class,JW-15220,Jane Waco,Corporate,United States,Sacramento,...,95823,West,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,5083.960,5,0.2,1906.4850
7914,7915,CA-2014-165323,6/18/2014,6/22/2014,Standard Class,SR-20740,Steven Roelle,Home Office,United States,New York City,...,10024,East,TEC-MA-10003673,Technology,Machines,Hewlett-Packard Desktjet 6988DT Refurbished Pr...,3404.500,5,0.0,1668.2050
7818,7819,CA-2013-138478,10/22/2013,10/27/2013,Second Class,DP-13390,Dennis Pardue,Home Office,United States,North Las Vegas,...,89031,West,OFF-BI-10001120,Office Supplies,Binders,Ibico EPK-21 Electric Binding System,4535.976,3,0.2,1644.2913
1644,1645,CA-2012-111829,3/19/2012,3/20/2012,First Class,FH-14365,Fred Hopkins,Corporate,United States,Seattle,...,98115,West,TEC-CO-10001766,Technology,Copiers,Canon PC940 Copier,3149.930,7,0.0,1480.4671
1454,1455,CA-2013-133711,11/27/2013,11/30/2013,First Class,MC-17425,Mark Cousins,Corporate,United States,Mobile,...,36608,South,TEC-MA-10000010,Technology,Machines,Hewlett-Packard Deskjet 3050a All-in-One Color...,3040.000,8,0.0,1459.2000
9270,9271,US-2014-102183,8/22/2014,8/29/2014,Standard Class,PK-19075,Pete Kriz,Consumer,United States,New York City,...,10035,East,OFF-BI-10001359,Office Supplies,Binders,GBC DocuBind TL300 Electric Binding System,4305.552,6,0.2,1453.1238
5562,5563,CA-2014-133263,4/1/2014,4/3/2014,Second Class,JE-15610,Jim Epp,Corporate,United States,Atlanta,...,30318,South,TEC-CO-10001449,Technology,Copiers,Hewlett Packard LaserJet 3310 Copier,2999.950,5,0.0,1439.9760
4093,4094,CA-2012-102491,8/24/2012,8/28/2012,Standard Class,KW-16435,Katrina Willman,Consumer,United States,Florence,...,41042,South,TEC-MA-10000864,Technology,Machines,Cisco 9971 IP Video Phone Charcoal,3080.000,7,0.0,1416.8000
353,354,CA-2013-129714,9/2/2013,9/4/2013,First Class,AB-10060,Adam Bellavance,Home Office,United States,New York City,...,10009,East,OFF-BI-10004995,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,4355.168,4,0.2,1415.4296
515,516,CA-2014-127432,1/23/2014,1/28/2014,Standard Class,AD-10180,Alan Dominguez,Home Office,United States,Great Falls,...,59405,West,TEC-CO-10003236,Technology,Copiers,Canon Image Class D660 Copier,2999.950,5,0.0,1379.9770
5126,5127,CA-2011-160766,9/14/2011,9/14/2011,Same Day,DM-13015,Darrin Martin,Consumer,United States,New York City,...,10009,East,TEC-MA-10003979,Technology,Machines,Ativa V4110MDD Micro-Cut Shredder,2799.960,4,0.0,1371.9804
6340,6341,CA-2014-143112,10/6/2014,10/10/2014,Standard Class,TS-21370,Todd Sumrall,Corporate,United States,New York City,...,10035,East,TEC-MA-10001047,Technology,Machines,"3D Systems Cube Printer, 2nd Generation, Magenta",5199.960,4,0.0,1351.9896
994,995,CA-2011-117639,5/21/2011,5/25/2011,Standard Class,MW-18235,Mitch Willingham,Corporate,United States,Virginia Beach,...,23464,South,OFF-BI-10003925,Office Supplies,Binders,Fellowes PB300 Plastic Comb Binding Machine,2715.930,7,0.0,1276.4871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,464,CA-2013-109869,4/23/2013,4/30/2013,Standard Class,TN-21040,Tanja Norvell,Home Office,United States,Phoenix,...,85023,West,FUR-TA-10001889,Furniture,Tables,Bush Advantage Collection Racetrack Conference...,1272.630,6,0.5,-814.4832
8208,8209,CA-2012-141565,9/20/2012,9/24/2012,Standard Class,BG-11035,Barry Gonzalez,Consumer,United States,Nashville,...,37211,South,OFF-BI-10000545,Office Supplies,Binders,GBC Ibimaster 500 Manual ProClick Binding System,1369.764,6,0.7,-913.1760
8632,8633,CA-2013-107783,7/29/2013,7/30/2013,First Class,OT-18730,Olvera Toch,Consumer,United States,Bethlehem,...,18018,East,OFF-BI-10000545,Office Supplies,Binders,GBC Ibimaster 500 Manual ProClick Binding System,1369.764,6,0.7,-913.1760
2628,2629,US-2014-165344,11/14/2014,11/16/2014,First Class,SB-20290,Sean Braxton,Corporate,United States,Springfield,...,45503,East,TEC-MA-10002210,Technology,Machines,Epson TM-T88V Direct Thermal Printer - Monochr...,652.995,7,0.7,-935.9595
7641,7642,US-2013-157490,10/7/2013,10/8/2013,First Class,LB-16795,Laurel Beltran,Home Office,United States,Pueblo,...,81001,West,TEC-MA-10001695,Technology,Machines,Zebra GK420t Direct Thermal/Thermal Transfer P...,703.710,6,0.7,-938.2800
4128,4129,CA-2011-127299,9/19/2011,9/24/2011,Standard Class,JL-15835,John Lee,Consumer,United States,Charlotte,...,28205,South,TEC-MA-10001127,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,2624.985,3,0.5,-944.9946
215,216,CA-2012-146262,1/2/2012,1/9/2012,Standard Class,VW-21775,Victoria Wilson,Corporate,United States,Medina,...,44256,East,TEC-MA-10000864,Technology,Machines,Cisco 9971 IP Video Phone Charcoal,1188.000,9,0.7,-950.4000
8993,8994,CA-2014-159100,10/17/2014,10/22/2014,Standard Class,VP-21760,Victoria Pisteka,Corporate,United States,Columbia,...,38401,South,FUR-TA-10001950,Furniture,Tables,Balt Solid Wood Round Tables,1875.258,7,0.4,-968.8833
5320,5321,US-2014-162558,10/3/2014,10/6/2014,First Class,Dp-13240,Dean percer,Home Office,United States,Knoxville,...,37918,South,FUR-TA-10000198,Furniture,Tables,Chromcraft Bull-Nose Wood Oval Conference Tabl...,2314.116,7,0.4,-1002.7836
6048,6049,CA-2012-105571,11/7/2012,11/11/2012,Standard Class,CP-12340,Christine Phan,Corporate,United States,Miami,...,33142,South,OFF-BI-10001359,Office Supplies,Binders,GBC DocuBind TL300 Electric Binding System,1345.485,5,0.7,-1031.5385
1803,1804,CA-2014-158379,9/23/2014,9/27/2014,Second Class,JA-15970,Joseph Airdo,Consumer,United States,Philadelphia,...,19134,East,OFF-SU-10002881,Office Supplies,Supplies,Martin Yale Chadless Opener Electric Letter Op...,4663.736,7,0.2,-1049.3406
4355,4356,CA-2012-155600,12/4/2012,12/7/2012,Second Class,RO-19780,Rose O'Brian,Consumer,United States,Clarksville,...,37042,South,OFF-BI-10000545,Office Supplies,Binders,GBC Ibimaster 500 Manual ProClick Binding System,1598.058,7,0.7,-1065.3720
8640,8641,US-2014-148551,1/13/2014,1/17/2014,Standard Class,DB-13120,David Bremer,Corporate,United States,Dallas,...,75217,Central,OFF-BI-10000545,Office Supplies,Binders,GBC Ibimaster 500 Manual ProClick Binding System,760.980,5,0.8,-1141.4700
2846,2847,CA-2014-152093,9/11/2014,9/16/2014,Standard Class,SN-20560,Skye Norling,Home Office,United States,Chicago,...,60653,Central,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,762.594,3,0.8,-1143.8910
4820,4821,CA-2012-140025,4/7/2012,4/11/2012,Standard Class,PF-19120,Peter Fuller,Consumer,United States,San Antonio,...,78207,Central,OFF-AP-10002651,Office Supplies,Appliances,Hoover Upright Vacuum With Dirt Cup,463.248,8,0.8,-1181.2824
7898,7899,CA-2014-128363,8/14/2014,8/19/2014,Standard Class,DC-12850,Dan Campbell,Consumer,United States,Memphis,...,38109,South,OFF-BI-10001359,Office Supplies,Binders,GBC DocuBind TL300 Electric Binding System,1614.582,6,0.7,-1237.8462
2928,2929,US-2014-120390,10/20/2014,10/27/2014,Standard Class,TH-21550,Tracy Hopkins,Home Office,United States,Burlington,...,27217,South,OFF-BI-10004995,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,1633.188,4,0.7,-1306.5504
165,166,CA-2011-139892,9/8/2011,9/12/2011,Standard Class,BM-11140,Becky Martin,Consumer,United States,San Antonio,...,78207,Central,TEC-MA-10000822,Technology,Machines,Lexmark MX611dhe Monochrome Laser Printer,8159.952,8,0.4,-1359.9920
3324,3325,CA-2011-165309,11/11/2011,11/15/2011,Standard Class,KD-16270,Karen Daniels,Consumer,United States,Houston,...,77095,Central,OFF-BI-10001359,Office Supplies,Binders,GBC DocuBind TL300 Electric Binding System,896.990,5,0.8,-1480.0335
27,28,US-2012-150630,9/17/2012,9/21/2012,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,...,19140,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",3083.430,7,0.5,-1665.0522
2697,2698,CA-2011-145317,3/18/2011,3/23/2011,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480,6,0.5,-1811.0784
1199,1200,CA-2013-130946,4/9/2013,4/13/2013,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,United States,Houston,...,77041,Central,OFF-BI-10004995,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,1088.792,4,0.8,-1850.9464
9639,9640,CA-2012-116638,1/28/2012,1/31/2012,Second Class,JH-15985,Joseph Holt,Consumer,United States,Concord,...,28027,South,FUR-TA-10000198,Furniture,Tables,Chromcraft Bull-Nose Wood Oval Conference Tabl...,4297.644,13,0.4,-1862.3124
5310,5311,CA-2014-131254,11/20/2014,11/22/2014,First Class,NC-18415,Nathan Cano,Consumer,United States,Houston,...,77095,Central,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,1525.188,6,0.8,-2287.7820
3151,3152,CA-2012-147830,12/15/2012,12/18/2012,First Class,NF-18385,Natalie Fritzler,Consumer,United States,Newark,...,43055,East,TEC-MA-10000418,Technology,Machines,Cubify CubeX 3D Printer Double Head Print,1799.994,2,0.7,-2639.9912
4991,4992,US-2014-122714,12/8/2014,12/14/2014,Standard Class,HG-14965,Henry Goldwyn,Corporate,United States,Chicago,...,60653,Central,OFF-BI-10001120,Office Supplies,Binders,Ibico EPK-21 Electric Binding System,1889.990,5,0.8,-2929.4845
3011,3012,CA-2014-134845,4/18/2014,4/24/2014,Standard Class,SR-20425,Sharelle Roach,Home Office,United States,Louisville,...,80027,West,TEC-MA-10000822,Technology,Machines,Lexmark MX611dhe Monochrome Laser Printer,2549.985,5,0.7,-3399.9800
9774,9775,CA-2011-169019,7/26/2011,7/30/2011,Standard Class,LF-17185,Luke Foster,Consumer,United States,San Antonio,...,78207,Central,OFF-BI-10004995,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,2177.584,8,0.8,-3701.8928
683,684,US-2014-168116,11/5/2014,11/5/2014,Same Day,GT-14635,Grant Thornton,Corporate,United States,Burlington,...,27217,South,TEC-MA-10004125,Technology,Machines,Cubify CubeX 3D Printer Triple Head Print,7999.980,4,0.5,-3839.9904
7772,7773,CA-2013-108196,11/26/2013,12/3/2013,Standard Class,CS-12505,Cindy Stewart,Consumer,United States,Lancaster,...,43130,East,TEC-MA-10000418,Technology,Machines,Cubify CubeX 3D Printer Double Head Print,4499.985,5,0.7,-6599.9780

In [33]:
path_to_file="E:\JIgsaw\Python\Gunnvant\PythonForModellers-master\PythonForModellers-master/Data/starbucks_final.csv"

In [34]:
data=pd.read_csv(path_to_file)

In [35]:
print(data)

                                                  Name  Calories   Fat  Carb  \
0                                         Chonga Bagel       300   5.0    50
1                                         8-Grain Roll       380   6.0    70
2                                     Almond Croissant       410  22.0    45
3                                        Apple Fritter       460  23.0    56
4                                     Banana Nut Bread       420  22.0    52
5               Blueberry Muffin with Yogurt and Honey       380  16.0    53
6                                      Blueberry Scone       420  17.0    61
7                                     Butter Croissant       240  12.0    28
8                                     Butterfly Cookie       350  22.0    38
9                                        Cheese Danish       320  16.0    36
10                              Chewy Chocolate Cookie       170   5.0    30
11                               Chocolate Chip Cookie       310  15.0    42
12                              Chocolate Chunk Muffin       440  21.0    60
13                                 Chocolate Croissant       330  18.0    38
14                        Chocolate Hazelnut Croissant       390  22.0    43
15                          Chocolate Marble Loaf Cake       490  24.0    64
16                                Cinnamon Morning Bun       390  15.0    56
17                               Cinnamon Raisin Bagel       270   1.0    58
18                                 Classic Coffee Cake       390  16.0    57
19                                   Cookie Butter Bar       360  23.0    36
20                              Cranberry Orange Scone       420  15.0    64
21                               Devil's Food Doughnut       430  23.0    53
22                            Double Chocolate Brownie       410  24.0    46
23                      Double Chocolate Chunk Brownie       490  28.0    55
24                          Double Chocolate Loaf Cake       440  23.0    54
25        Everybody's Favorite - Bantam Bagel (2 Pack)       100   3.5    14
26                        Everything Bagel with Cheese       290   3.5    53
27                           Frappuccino Cookie Straw        90   3.0    14
28               French Toast - Bantam Bagels (2 Pack)       200   8.0    30
29                   Gluten-Free Marshmallow Dream Bar       240   5.0    45
..                                                 ...       ...   ...   ...
82            Certified Gluten-Free Breakfast Sandwich       280  13.0    18
83                         Classic Whole-Grain Oatmeal       160   2.5    28
84          Double-Smoked Bacon Cheddar & Egg Sandwich       490  27.0    40
85                              Ham & Cheese Croissant       320  17.0    28
86                            Hearty Blueberry Oatmeal       220   2.5    43
87   Reduced-Fat Turkey Bacon & Cage Free Egg White...       230   6.0    28
88            Sausage Cheddar & Egg Breakfast Sandwich       500  28.0    41
89                   Seared Steak Egg & Tomatillo Wrap       410  18.0    43
90     Slow-Roasted Ham Swiss & Egg Breakfast Sandwich       450  23.0    42
91                Sous Vide Egg Bites: Bacon & Gruyere       310  22.0     9
92         Sous Vide Egg Bites: Egg White & Red Pepper       170   7.0    13
93   Spicy Chorizo  Monterey Jack & Egg Breakfast S...       500  30.0    35
94   Spinach Feta & Cage Free Egg White Breakfast Wrap       290  10.0    33
95                      Ancho Chipotle Chicken Panini        500  19.0    57
96   Chicken & Quinoa Protein Bowl with Black Beans...       420  17.0    42
97        Chicken Artichoke on Ancient Grain Flatbread       510  27.0    37
98                          Chicken BLT Salad Sandwich       470  25.0    35
99                                  Egg Salad Sandwich       480  27.0    42
100            Homestyle Chicken & Double-Smoked Bacon       480  17.0    57
101                   Italian-Style Ham & Spicy Salami       480  20.0    49
102   Lentils & Vegetable Protein Bowl with Brown Rice       650  29.0    80
103                 Roasted Tomato & Mozzarella Panini       420  18.0    47
104                          Turkey & Havarti Sandwich       460  21.0    31
105                                Turkey Pesto Panini       560  23.0    55
106                                  Berry Trio Yogurt       240   2.5    39
107   Fresh Blueberries and Honey Greek Yogurt Parfait       240   2.5    42
108                 Justin's Chocolate Hazelnut Butter       180  14.0    12
109                     Justin's Classic Almond Butter       190  18.0     6
110                               Lemon Chiffon Yogurt       340  13.0    38
111                           Organic Avocado (Spread)        90   8.0     5

     Fiber  Protein
0        3       12
1        7       10
2        3       10
3        2        7
4        2        6
5        1        6
6        2        5
7        1        5
8        0        2
9        1        8
10       2        2
11       2        4
12       2        7
13       1        6
14       2        7
15       2        6
16       2        8
17       3        9
18       1        5
19       0        2
20       1        6
21       2        5
22       3        6
23       3        7
24       3        5
25       0        3
26       2       11
27       0        1
28       0        6
29       0        2
..     ...      ...
82       6       18
83       4        5
84       1       21
85       1       14
86       5        5
87       2       16
88       1       15
89       2       21
90       1       24
91       0       19
92       1       13
93       3       26
94       6       19
95       4       26
96       9       27
97       5       24
98       3       21
99       7       16
100      3       23
101      3       22
102     21       23
103      3       11
104      2       29
105      3       34
106      3       14
107      2       14
108      3        4
109      3        7
110      0       18
111      4        1

[112 rows x 6 columns]

In [14]:
sub2

,Name,Calories,Fat,Carb,Fiber,Protein
10,Chewy Chocolate Cookie,170,5.0,30,2,2
25,Everybody's Favorite - Bantam Bagel (2 Pack),100,3.5,14,0,3
27,Frappuccino Cookie Straw,90,3.0,14,0,1
28,French Toast - Bantam Bagels (2 Pack),200,8.0,30,0,6
39,Petite Vanilla Bean Scone,120,4.5,18,0,2
48,Strawberry Cake Pop,180,9.0,23,0,2
49,The Classic - Bantam Bagels (2 Pack),200,8.0,28,0,6
77,Birthday Cake Pop,170,9.0,23,0,1
78,Chocolate Cake Pop,160,8.0,23,1,2
79,Chocolate Chip Cookie Dough Cake Pop,180,9.0,23,0,2
80,Pirate Cake Pop,180,9.0,24,0,1
83,Classic Whole-Grain Oatmeal,160,2.5,28,4,5
87,Reduced-Fat Turkey Bacon & Cage Free Egg White...,230,6.0,28,2,16
92,Sous Vide Egg Bites: Egg White & Red Pepper,170,7.0,13,1,13
106,Berry Trio Yogurt,240,2.5,39,3,14
111,Organic Avocado (Spread),90,8.0,5,4,1

In [20]:
sub3="Calories<=450 and Protein<=40 and Carb<=40 and Fat<=10 and Fiber<=5"

In [18]:
### Average sales by segment?
import numpy as np

In [19]:
store1.groupby('Segment').agg({'Sales':np.mean})

                  Sales
Segment
Consumer     223.733644
Corporate    233.823300
Home Office  240.972041

In [20]:
store1.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [21]:
import pandas as pd

In [22]:
DATA_DIR="E:\JIgsaw\Python\Gunnvant\PythonForModellers-master\PythonForModellers-master\Data"

In [24]:
store2=pd.read_csv("E:\JIgsaw\Python\Gunnvant\PythonForModellers-master\PythonForModellers-master\Data\Store.csv",encoding='latin1')

In [27]:

#If Quantity check

def get_cats(x):
   if x>5:
       return 'Alot'
   else:
       return 'Very Less'

In [28]:
store2['Qty_Cat']=store2['Quantity'].map(get_cats)

In [29]:
store2.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Qty_Cat
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,Very Less
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,Very Less
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,Very Less
3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,Very Less
4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,Very Less

In [31]:
## Apply sum
store_num=store2[['Sales','Quantity','Discount']]

In [32]:
store_num.head(2)

    Sales  Quantity  Discount
0  261.96         2       0.0
1  731.94         3       0.0

In [33]:
store2['Order Date']=pd.to_datetime(store2['Order Date'])

In [34]:
store2.dtypes

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date                object
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
Qty_Cat                  object
dtype: object

In [35]:
import pandas as pd

In [36]:
fd=pd.read_csv("E:\JIgsaw\Python\Gunnvant\PythonForModellers-master\PythonForModellers-master\Data\FlightDelays.csv",encoding='latin1')

In [37]:
fd.head()

,schedtime,carrier,deptime,dest,distance,date,flightnumber,origin,weather,tailnu,delay
0,1455,OH,1455,JFK,184,01-01-2004,5935,BWI,0,N940CA,ontime
1,1640,DH,1640,JFK,213,01-01-2004,6155,DCA,0,N405FJ,ontime
2,1245,DH,1245,LGA,229,01-01-2004,7208,IAD,0,N695BR,ontime
3,1715,DH,1709,LGA,229,01-01-2004,7215,IAD,0,N662BR,ontime
4,1039,DH,1035,LGA,229,01-01-2004,7792,IAD,0,N698BR,ontime

In [38]:
print (fd)

      schedtime carrier  deptime dest  distance        date  flightnumber  \
0          1455      OH     1455  JFK       184  01-01-2004          5935
1          1640      DH     1640  JFK       213  01-01-2004          6155
2          1245      DH     1245  LGA       229  01-01-2004          7208
3          1715      DH     1709  LGA       229  01-01-2004          7215
4          1039      DH     1035  LGA       229  01-01-2004          7792
5           840      DH      839  JFK       228  01-01-2004          7800
6          1240      DH     1243  JFK       228  01-01-2004          7806
7          1645      DH     1644  JFK       228  01-01-2004          7810
8          1715      DH     1710  JFK       228  01-01-2004          7812
9          2120      DH     2129  JFK       228  01-01-2004          7814
10         2120      DH     2114  LGA       229  01-01-2004          7924
11         1455      DL     1458  JFK       213  01-01-2004           746
12          930      DL      932  LGA       214  01-01-2004          1746
13         1230      DL     1228  LGA       214  01-01-2004          1752
14         1430      DL     1429  LGA       214  01-01-2004          1756
15         1730      DL     1728  LGA       214  01-01-2004          1762
16         2030      DL     2029  LGA       214  01-01-2004          1768
17         1530      MQ     1525  JFK       213  01-01-2004          4752
18          600      MQ      556  JFK       213  01-01-2004          4760
19         1830      MQ     1822  JFK       213  01-01-2004          4784
20          900      MQ      853  LGA       214  01-01-2004          4956
21         1300      MQ     1254  LGA       214  01-01-2004          4964
22         1400      MQ     1356  LGA       214  01-01-2004          4966
23         1500      MQ     1452  LGA       214  01-01-2004          4968
24         1900      MQ     1853  LGA       214  01-01-2004          4976
25          850      UA      841  LGA       229  01-01-2004           846
26          900      US      858  LGA       214  01-01-2004          2164
27         1100      US     1056  LGA       214  01-01-2004          2168
28         1300      US     1253  LGA       214  01-01-2004          2172
29         1500      US     1458  LGA       214  01-01-2004          2176
...         ...     ...      ...  ...       ...         ...           ...
2171       1520      MQ     1514  JFK       213   1/31/2004          4752
2172        600      MQ      613  JFK       213   1/31/2004          4760
2173       1830      MQ     1819  JFK       213   1/31/2004          4784
2174        900      MQ      904  LGA       214   1/31/2004          4956
2175       1300      MQ     1254  LGA       214   1/31/2004          4964
2176        850      UA      847  LGA       229   1/31/2004           846
2177        700      US      706  LGA       214   1/31/2004          2160
2178        900      US      857  LGA       214   1/31/2004          2164
2179       1100      US     1058  LGA       214   1/31/2004          2168
2180       1300      US     1256  LGA       214   1/31/2004          2172
2181       1500      US     1457  LGA       214   1/31/2004          2176
2182       1700      US     1655  LGA       214   1/31/2004          2180
2183       1900      US     1856  LGA       214   1/31/2004          2184
2184       1030      RU     1025  EWR       169   1/31/2004          2303
2185       1455      RU     1449  EWR       169   1/31/2004          2229
2186       1720      RU     1715  EWR       169   1/31/2004          3372
2187        700      RU      704  EWR       169   1/31/2004          2703
2188       1300      CO     1255  EWR       199   1/31/2004           808
2189        840      DH      840  EWR       213   1/31/2004          7299
2190       1710      DH     1659  EWR       213   1/31/2004          7302
2191       1245      DH     1247  EWR       213   1/31/2004          7303
2192       2120      DH     2111  EWR       213   1/31/2004          7304
2193       1500      RU     1458  EWR       213   1/31/2004          2156
2194        930      RU      925  EWR       199   1/31/2004          2582
2195        700      RU      650  EWR       213   1/31/2004          2855
2196        645      RU      644  EWR       199   1/31/2004          2761
2197       1700      RU     1653  EWR       213   1/31/2004          2497
2198       1600      RU     1558  EWR       199   1/31/2004          2361
2199       1359      RU     1403  EWR       199   1/31/2004          2216
2200       1730      RU     1736  EWR       199   1/31/2004          2097

     origin  weather  tailnu   delay
0       BWI        0  N940CA  ontime
1       DCA        0  N405FJ  ontime
2       IAD        0  N695BR  ontime
3       IAD        0  N662BR  ontime
4       IAD        0  N698BR  ontime
5       IAD        0  N687BR  ontime
6       IAD        0  N321UE  ontime
7       IAD        0  N301UE  ontime
8       IAD        0  N328UE  ontime
9       IAD        0  N685BR  ontime
10      IAD        0  N645BR  ontime
11      DCA        0  N918DE  ontime
12      DCA        0  N242DL  ontime
13      DCA        0  N241DL  ontime
14      DCA        0  N242DL  ontime
15      DCA        0  N241DL  ontime
16      DCA        0  N242DL  ontime
17      DCA        0  N709MQ  ontime
18      DCA        0  N717MQ  ontime
19      DCA        0  N707MQ  ontime
20      DCA        0  N737MQ  ontime
21      DCA        0  N717MQ  ontime
22      DCA        0  N726MQ  ontime
23      DCA        0  N724MQ  ontime
24      DCA        0  N724MQ  ontime
25      IAD        0  N513UA  ontime
26      DCA        0  N709UW  ontime
27      DCA        0  N748UW  ontime
28      DCA        0  N709UW  ontime
29      DCA        0  N748UW  ontime
...     ...      ...     ...     ...
2171    DCA        0  N709MQ  ontime
2172    DCA        0  N733MQ  ontime
2173    DCA        0  N841MQ  ontime
2174    DCA        0  N731MQ  ontime
2175    DCA        0  N710MQ  ontime
2176    IAD        0  N592UA  ontime
2177    DCA        0  N725UW  ontime
2178    DCA        0  N741UW  ontime
2179    DCA        0  N725UW  ontime
2180    DCA        0  N741UW  ontime
2181    DCA        0  N725UW  ontime
2182    DCA        0  N741UW  ontime
2183    DCA        0  N725UW  ontime
2184    BWI        0  N12946  ontime
2185    BWI        0  N14558  ontime
2186    BWI        0  N15932  ontime
2187    BWI        0  N14542  ontime
2188    DCA        0  N19621  ontime
2189    IAD        0  N698BR  ontime
2190    IAD        0  N624BR  ontime
2191    IAD        0  N624BR  ontime
2192    IAD        0  N702BR  ontime
2193    IAD        0  N11140  ontime
2194    DCA        0  N12567  ontime
2195    IAD        0  N14558  ontime
2196    DCA        0  N15555  ontime
2197    IAD        0  N16976  ontime
2198    DCA        0  N14902  ontime
2199    DCA        0  N16961  ontime
2200    DCA        0  N13994  ontime

[2201 rows x 11 columns]

In [44]:
##1. Find out the number of delayed flights for all weekdays
q="day<5 and delay=='delayed'"

In [40]:
fd.query(q).shape

UndefinedVariableError: name 'day' is not defined

In [41]:
##2. Find the average distance, total distance and count for all delayed flights on Friday.
q="day==4"
print(fd.query(q)['distance'].mean())
print(fd.query(q)['distance'].sum())
print(fd.query(q)['distance'].shape[])

UndefinedVariableError: name 'day' is not defined

In [43]:
###3. Find out how many flights were on time on Week days and Weekends (Consider Saturday and Sunday as weekends)
q="delay=='ontime'"
fd.query(q).groupby('week_day').size()

KeyError: 'week_day'